@media (max-width: 479px) {
  /* line 7, ../sass/cart.scss */
  td.hide-350, th.hide-350 {
    display: none !important; } }
@media (min-width: 480px) {
  /* line 7, ../sass/cart.scss */
  td.hide-350, th.hide-350 {
    display: table-cell !important; } }

@media (max-width: 767px) {
  /* line 19, ../sass/cart.scss */
  .cart-box .box-headline {
    padding-right: 10px; }
  /* line 22, ../sass/cart.scss */
  .cart-box .box-content {
    padding: 0; } }

/* line 28, ../sass/cart.scss */
.cart-table {
  table-layout: fixed;
  margin-bottom: 0; }
  /* line 32, ../sass/cart.scss */
  .cart-table th, .cart-table td {
    overflow: hidden; }
  /* line 35, ../sass/cart.scss */
  .cart-table th {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  /* line 38, ../sass/cart.scss */
  .cart-table .cart-cell-product {
    width: 60%; }
    /* line 41, ../sass/cart.scss */
    .cart-table .cart-cell-product img {
      float: left;
      margin-right: 20px; }
  /* line 46, ../sass/cart.scss */
  .cart-table .cart-cell-delivery {
    width: 10%; }
  /* line 49, ../sass/cart.scss */
  .cart-table .cart-cell-quantity {
    width: 10%; }
    /* line 52, ../sass/cart.scss */
    .cart-table .cart-cell-quantity input, .cart-table .cart-cell-quantity button {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 12px; }
    /* line 58, ../sass/cart.scss */
    .cart-table .cart-cell-quantity input {
      width: 40px; }
    /* line 61, ../sass/cart.scss */
    .cart-table .cart-cell-quantity button {
      padding: 3px 5px; }
  /* line 65, ../sass/cart.scss */
  .cart-table .cart-cell-price {
    width: 10%; }
  /* line 68, ../sass/cart.scss */
  .cart-table .cart-cell-actions {
    width: 10%;
    text-align: right; }
  /* line 72, ../sass/cart.scss */
  .cart-table .cart-cell-fee, .cart-table .cart-cell-fee-value {
    width: 80%; }
    /* line 75, ../sass/cart.scss */
    .cart-table .cart-cell-fee ul, .cart-table .cart-cell-fee-value ul {
      margin-left: 0; }
      /* line 78, ../sass/cart.scss */
      .cart-table .cart-cell-fee ul li, .cart-table .cart-cell-fee-value ul li {
        list-style-type: none; }
    /* line 82, ../sass/cart.scss */
    .cart-table .cart-cell-fee .cart-cell-wrapper, .cart-table .cart-cell-fee-value .cart-cell-wrapper {
      padding-left: 120px; }
  /* line 86, ../sass/cart.scss */
  .cart-table .cart-cell-fee-value {
    width: 20%;
    padding-left: 0; }
  /* line 91, ../sass/cart.scss */
  .cart-table .cart-foot-actions {
    padding-top: 20px; }
    /* line 94, ../sass/cart.scss */
    .cart-table .cart-foot-actions.right {
      text-align: right; }
      /* line 97, ../sass/cart.scss */
      .cart-table .cart-foot-actions.right .btn {
        font-weight: bold; }
  @media (min-width: 980px) {
    /* line 105, ../sass/cart.scss */
    .cart-table .cart-foot-actions.right {
      padding-right: 0; }
    /* line 110, ../sass/cart.scss */
    .cart-table .cart-cell-product .cart-cell-product-content {
      margin-left: 120px; } }
  @media (max-width: 979px) {
    /* line 117, ../sass/cart.scss */
    .cart-table .cart-cell-quantity input {
      border-radius: 3px; }
    /* line 120, ../sass/cart.scss */
    .cart-table .cart-cell-quantity button {
      background-color: transparent;
      background-image: none;
      border-color: transparent;
      color: #006699;
      cursor: pointer;
      display: block;
      text-shadow: none;
      text-decoration: underline;
      padding: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; } }
  @media (max-width: 767px) {
    /* line 142, ../sass/cart.scss */
    .cart-table thead th {
      font-size: 10px; }
    /* line 146, ../sass/cart.scss */
    .cart-table .cart-cell-product {
      width: 53%; }
      /* line 149, ../sass/cart.scss */
      .cart-table .cart-cell-product img {
        width: 40px; }
    /* line 153, ../sass/cart.scss */
    .cart-table .cart-cell-price {
      width: 17%; }
    /* line 157, ../sass/cart.scss */
    .cart-table .cart-cell-actions .btn.visible-phone {
      display: block !important; }
    /* line 161, ../sass/cart.scss */
    .cart-table .cart-cell-fee, .cart-table .cart-cell-fee-value {
      width: 60%; }
      /* line 164, ../sass/cart.scss */
      .cart-table .cart-cell-fee .cart-cell-wrapper, .cart-table .cart-cell-fee-value .cart-cell-wrapper {
        padding-left: 0; }
    /* line 168, ../sass/cart.scss */
    .cart-table .cart-cell-fee-value {
      width: 40%;
      text-align: right; }
      /* line 173, ../sass/cart.scss */
      .cart-table .cart-cell-fee-value ul li {
        text-align: right; } }
  @media (max-width: 479px) {
    /* line 180, ../sass/cart.scss */
    .cart-table .cart-cell-product {
      width: 75%; }
      /* line 183, ../sass/cart.scss */
      .cart-table .cart-cell-product img {
        margin-right: 10px; }
    /* line 187, ../sass/cart.scss */
    .cart-table .cart-cell-quantity {
      width: 25%; }
      /* line 190, ../sass/cart.scss */
      .cart-table .cart-cell-quantity a {
        float: right;
        padding: 4px 5px 3px;
        border-radius: 3px; }
        /* line 195, ../sass/cart.scss */
        .cart-table .cart-cell-quantity a .btn {
          display: block !important; }
      /* line 199, ../sass/cart.scss */
      .cart-table .cart-cell-quantity input {
        float: left;
        width: 30px; }
      /* line 203, ../sass/cart.scss */
      .cart-table .cart-cell-quantity button {
        clear: both; }
    /* line 210, ../sass/cart.scss */
    .cart-table .cart-foot-actions {
      padding-top: 10px; } }
