.dw-search-suggestions {
  border: 1px solid #9F9F9F;
  border-top: none;
  background-color: white;
  width: 350px;
  margin-top: -2px;
  overflow: auto;
  z-index: 200;
  border-radius: 0 0 5px 5px;
}
/*.dw-search-suggestions .dw-suggestion-item {
  display: block;
  background-color: #F9F9F9;
  border: 1px solid #F9F9F9;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
  height: 22px;
  line-height: 22px;
}
*//*.dw-search-suggestions .dw-suggestion-item:focus,
.dw-search-suggestions .dw-suggestion-item:active,
.dw-search-suggestions .dw-suggestion-item:hover {
  outline: none;
}*/
/*.dw-search-suggestions .dw-suggestion-item-active {
  text-decoration: none;
  background: #EAF2FF;
  border: 1px solid #C4DAFF;
  cursor: pointer;
}*/
.dw-search-suggestions .dw-no-suggestions {
  display: block;
  color: #A0A0A0;
  cursor: default;
  padding-left: 5px;
  padding-right: 5px;
}
.dw-instant-search {
  width: 350px;
  padding: 2px;
  margin: 0px;
  border: 1px solid #c3c3c3;
}
.dw-search-result {
  display: block;
  margin-top: 10px;
}
.dw-search-result a {
  display: block;
  font-size: 130%;
}
.dw-search-result small {
  display: block;
  margin-top: 5px;
}
.dw-search-result strong {
  display: block;
  float: right;
}
.dw-no-results {
  display: block;
  padding: 15px;
  text-align: center;
}
.dw-search-result-item {
  overflow: auto;
  height: 64px;
}
.quick-add .dw-search-result-item {
  height: 0;
  margin: 3px 0;
}
.dw-search-result-item .dw-search-result-picture {
  display:block;
  float: left;
  margin: 0 10px;
}
.dw-search-result-item .dw-search-result-picture a {}
.dw-search-result-item .dw-search-result-url {}
.dw-search-result-item .dw-search-result-productname {
  display: block;
  float: left;
  width: 235px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 18px;
}
.dw-search-result-item .dw-search-result-productname a {
  font: bold 14px/18px arial;
  display: inline;
}
.dw-search-result-item .dw-search-result-price {
  float: right;
  margin: 5px 10px 0 0;
  font: bold 14px/22px arial;
}
.dw-search-result-item .dw-search-result-img {
  float: left;
}
.dw-search-result-item .dw-search-result-number {
  float: left;
  margin-top: 5px;
  margin-right: 10px;
  font: 12px/22px arial;
  font-style: italic;
}
.quick-add .dw-search-result-item .dw-search-result-number {
  line-height: 18px;
  width: 35px;
  margin-top: 0;
  text-decoration: underline;
}
.dw-search-result-item .dw-search-result-readmore {
  float: right;
  margin: 5px 10px 0 0;
  font: bold 14px/18px arial;    
}
.dw-search-result-item .dw-search-result-readmore .dw-search-result-detailslink {
  border-radius: 5px 5px 5px 5px;
  height: 20px !important;
  line-height: 20px !important;
}
.dw-search-result-item .dw-search-result-readmore .sprite {
  display: block;
  margin-top: 4px;
}
.quick-add .dw-search-result-item {
  overflow: visible;
}
.quick-add .dw-search-result-item .dw-search-result-productname {
  white-space: normal;
  width: auto;
}
.quick-add .dw-search-suggestions { 
  width: 200px !important;
  margin-left: 0 !important;
  border-radius: 0px 5px 5px 5px;
  border-top: 1px solid #C3C3C3 !important;
  margin-top: 3px !important;
  overflow: visible;
}
.quick-add .dw-search-suggestions:before {
  background: white;
  border-left: 1px solid #9F9F9F;
  border-right: 1px solid #9F9F9F;
  content: " ";
  display: block;
  height: 10px;
  left: -1px;
  position: absolute;
  top: -10px;
  width: 111px;
}
.quick-add .dw-search-suggestions .dw-suggestion-item { height: auto; }
.quick-add .dw-search-result-item .dw-search-result-productname a {
  font-size: 12px;
}
.quick-add .dw-search-result-item .dw-search-result-productname a.p-title {
  display: block;
  float: left;
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.quick-add .dw-search-result {
  overflow: auto;
  margin: 5px 5px 0;
}
#search-box-preloader-top,
#search-box-preloader-quickadd,
#search-box-preloader-bottom {
  display: none;
  height: 30px;
  left: 350px;
  position: absolute;
  width: 30px;
  top: 2px;
  background: url(../img/ajax-loader.gif) no-repeat center center;
}
#search-box-preloader-quickadd {
  left: inherit;
  margin-left: 150px;
  margin-top: -27px;
  top: inherit;
}





@media (min-width: 980px) {
  .dw-search-suggestions {
    margin-left: 30px;
    width: 350px; 
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .dw-search-suggestions {
    margin-left: 30px;
    width: 250px; 
  }
  #search-box-preloader-top { left: 250px; }
  #search-box-preloader-quickadd { margin-left: 90px; }
  .dw-search-result-item .dw-search-result-productname { width: 175px; }
  .dw-search-result-item .dw-search-result-img { width: 45px; }
  .dw-search-result-item .dw-search-result-number {
    margin-right: 0;
    font-size: 11px;
  }
  /*.dw-search-result-item .dw-search-result-readmore { display: none; }*/
}
@media (max-width: 767px) {
  .dw-search-suggestions { 
    margin-left: 7%;
    width: 71%;
  }
  #search-box-preloader-top { left: 68%; }
  .dw-search-result-item .dw-search-result-productname { float: none; }
}
@media (max-width: 349px) {
  .dw-search-suggestions { 
    margin-left: 30px;
    padding: 0 5px;
    width: 60%;  
  }
  #search-box-preloader-top { left: 65%; }
  .dw-search-result-item { height: 50px; }
  .dw-search-result-item .dw-search-result-picture { display: none; }
  .dw-search-result-item .dw-search-result-productname { width: auto; }
  .dw-search-result-item .dw-search-result-productname a { font-size: 12px; }
  .dw-search-result-item .dw-search-result-number { 
    font-size: 10px;
    margin-top: 0; 
  }
  .dw-search-result-item .dw-search-result-readmore { margin: 0; }
}