/*
 * Sprites
 */
/* line 5, ../sass/sprites.scss */
.sprite {
  background-image: url(../images/sprites.png) !important; }
  /* line 8, ../sass/sprites.scss */
  .sprite.slider-arrow-r-circle {
    background-position: -70px -100px;
    width: 30px;
    height: 30px; }
  /* line 13, ../sass/sprites.scss */
  .sprite.slider-arrow-r {
    background-position: -78px -133px;
    width: 8px;
    height: 14px; }
  /* line 18, ../sass/sprites.scss */
  .sprite.slider-arrow-l-circle {
    background-position: -70px -71px;
    width: 30px;
    height: 30px; }
  /* line 23, ../sass/sprites.scss */
  .sprite.slider-arrow-l {
    background-position: -88px -133px;
    width: 8px;
    height: 14px; }
  /* line 28, ../sass/sprites.scss */
  .sprite.cart-big-hover {
    background-position: 0 -50px;
    width: 45px;
    height: 45px; }
  /* line 33, ../sass/sprites.scss */
  .sprite.cart-big-normal {
    background-position: 0 0;
    width: 45px;
    height: 45px; }
  /* line 38, ../sass/sprites.scss */
  .sprite.blue-close {
    background-position: -80px -29px !important;
    width: 20px;
    height: 20px; }
  /* line 43, ../sass/sprites.scss */
  .sprite.search {
    background-position: -51px -169px;
    width: 30px;
    height: 30px; }
  /* line 48, ../sass/sprites.scss */
  .sprite.signv {
    background-position: -49px -39px;
    width: 20px;
    height: 20px; }
  /* line 53, ../sass/sprites.scss */
  .sprite.signv-red {
    background-position: -49px -18px;
    width: 20px;
    height: 20px; }
  /* line 58, ../sass/sprites.scss */
  .sprite.bg-modal-header {
    background-position: -40px -149px;
    width: 10px;
    height: 50px; }
  /* line 64, ../sass/sprites.scss */
  .sprite.commentSmall {
    background-position: -81px -1px;
    width: 10px;
    height: 10px; }
  /* line 69, ../sass/sprites.scss */
  .sprite.filters-selection-tr {
    background-position: -49px 0;
    width: 30px;
    height: 19px; }
  /* line 74, ../sass/sprites.scss */
  .sprite.footer-gradient {
    background-position: 0 -100px;
    width: 40px;
    height: 100px; }
  /* line 79, ../sass/sprites.scss */
  .sprite.footer-totop {
    background-position: -80px -50px;
    width: 20px;
    height: 20px; }
  /* line 84, ../sass/sprites.scss */
  .sprite.full-star {
    background-position: -50px -60px;
    width: 18px;
    height: 18px; }
  /* line 89, ../sass/sprites.scss */
  .sprite.half-star {
    background-position: -50px -81px;
    width: 18px;
    height: 18px; }
  /* line 94, ../sass/sprites.scss */
  .sprite.empty-star {
    background-position: -50px -100px;
    width: 18px;
    height: 18px; }
  /* line 99, ../sass/sprites.scss */
  .sprite.arr-forward-small {
    background-position: -81px -14px;
    width: 10px;
    height: 10px; }
  /* line 104, ../sass/sprites.scss */
  .sprite.arr-forward-small-white {
    background-position: -85px -151px;
    width: 15px;
    height: 13px; }
  /* line 109, ../sass/sprites.scss */
  .sprite.arr-back-small {
    background-position: -70px -20px;
    width: 10px;
    height: 10px; }
  /* line 114, ../sass/sprites.scss */
  .sprite.cart {
    background-position: -76px -75px;
    width: 24px;
    height: 24px; }
  /* line 119, ../sass/sprites.scss */
  .sprite.cart-small-white {
    background-position: -50px -125px;
    width: 24px;
    height: 24px; }
  /* line 124, ../sass/sprites.scss */
  .sprite.cart-tiny-white {
    background-position: -30px -100px;
    width: 18px;
    height: 18px; }
  /* line 129, ../sass/sprites.scss */
  .sprite.locked {
    background-position: -80px -150px;
    width: 20px;
    height: 20px; }
  /* line 134, ../sass/sprites.scss */
  .sprite.mode-list {
    background-position: -25px -175px;
    width: 24px;
    height: 24px; }
  /* line 139, ../sass/sprites.scss */
  .sprite.mode-tiles {
    background-position: 0 -175px;
    width: 24px;
    height: 24px; }
  /* line 144, ../sass/sprites.scss */
  .sprite.key {
    background-position: 0 -100px;
    width: 32px;
    height: 32px; }
  /* line 149, ../sass/sprites.scss */
  .sprite.info-circle {
    background-position: 0px -150px;
    width: 24px;
    height: 24px; }
  /* line 154, ../sass/sprites.scss */
  .sprite.info-circle-small {
    background-position: -83px -175px;
    width: 16px;
    height: 16px; }
  /* line 159, ../sass/sprites.scss */
  .sprite.cart-small {
    background-position: -25px -148px;
    width: 26px;
    height: 26px; }
  /* line 164, ../sass/sprites.scss */
  .sprite.icon-pdf {
    background-position: -30px -128px;
    width: 20px;
    height: 20px; }
  /* line 169, ../sass/sprites.scss */
  .sprite.arrow-circle-left {
    background-position: -25px -200px;
    width: 25px;
    height: 25px; }
  /* line 174, ../sass/sprites.scss */
  .sprite.arrow-circle-right {
    background-position: 0 -200px;
    width: 25px;
    height: 25px; }
  /* line 179, ../sass/sprites.scss */
  .sprite.support {
    background-position: -50px -150px;
    width: 20px;
    height: 20px; }
  /* line 184, ../sass/sprites.scss */
  .sprite.order-status {
    background-position: -38px -225px;
    width: 18px;
    height: 18px; }
  /* line 189, ../sass/sprites.scss */
  .sprite.print {
    background-position: -18px -225px;
    width: 18px;
    height: 18px; }
  /* line 194, ../sass/sprites.scss */
  .sprite.receipt {
    background-position: 0 -225px;
    width: 18px;
    height: 18px; }

/* line 202, ../sass/sprites.scss */
.dw-search-result-item .arr-forward-small-white {
  background-position: -85px -147px;
  width: 15px;
  height: 13px; }
