/*
 * [start] Global UI elements
 */
/* line 11, ../sass/styles.scss */
.dw-button {
  border: 1px solid red;
  border-radius: 5px;
  overflow: hidden;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  box-shadow: 1px 1px 2px #c3c3c3;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font: bold 14px/31px arial !important;
  height: 33px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  text-decoration: none;
  white-space: inherit !important; }
  /* line 26, ../sass/styles.scss */
  .dw-button.dw-button-small {
    height: 26px;
    line-height: 26px !important;
    padding: 0 12px !important;
    width: auto; }

/* line 33, ../sass/styles.scss */
a.dw-button {
  text-decoration: none;
  color: white; }

/* line 38, ../sass/styles.scss */
.dw-button-green {
  background: #009209;
  background: -webkit-gradient(linear, left top, left bottom, from(#00dd11), to(#009209));
  background: -moz-linear-gradient(top, #00dd11, #009209);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#FF00DD11', endColorstr='#FF009209');
  border-color: #56a201;
  text-shadow: 0 -1px 2px #299630;
  color: white; }
  /* line 47, ../sass/styles.scss */
  .dw-button-green:active, .dw-button-green:hover {
    background: #14ac1f;
    color: white; }

/* line 53, ../sass/styles.scss */
.dw-button-gray {
  background: #e7e9eb;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e7e9eb));
  background: -moz-linear-gradient(top, #f9f9f9, #e7e9eb);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#FFF9F9F9', endColorstr='#FFE7E9EB');
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 1px #ffffff;
  color: #545649 !important; }
  /* line 62, ../sass/styles.scss */
  .dw-button-gray:active, .dw-button-gray:hover {
    background: #e7e9eb; }

/* line 67, ../sass/styles.scss */
.dw-button-orange {
  background: #ff8500;
  background: -webkit-gradient(linear, left top, left bottom, from(#fb9e25), to(#ff8500));
  background: -moz-linear-gradient(top, #fb9e25, #ff8500);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#FFFB9E25', endColorstr='#FFFF8500');
  border-color: #FF8500;
  text-shadow: 1px 1px 0 #cc9f52;
  box-shadow: 1px 1px 2px #fcbf70 !important;
  color: #fff !important; }
  /* line 77, ../sass/styles.scss */
  .dw-button-orange:active, .dw-button-orange:hover {
    background: #FF8500; }

/* Top Menu */
/* line 84, ../sass/styles.scss */
.topmenu .navbar-inner {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }

/* line 89, ../sass/styles.scss */
.topmenu .nav > li {
  list-style-type: none;
  /*border-right: 1px solid #999;*/ }

/* line 93, ../sass/styles.scss */
.topmenu .nav > li:last-child {
  border: none;
  padding-right: 0; }

/* line 97, ../sass/styles.scss */
.topmenu .nav > li > a {
  line-height: 14px;
  text-decoration: underline;
  font-size: 12px;
  text-shadow: none;
  color: #069;
  border-right: 1px solid #999; }

/* line 105, ../sass/styles.scss */
.topmenu .nav > li > span {
  line-height: 14px;
  text-decoration: none;
  font-size: 12px; }

/* line 110, ../sass/styles.scss */
.topmenu .nav > li:last-child > a {
  border-right: none; }

/* line 111, ../sass/styles.scss */
.topmenu .nav > li:hover > a {
  color: #069; }

/* Header */
/* line 114, ../sass/styles.scss */
.logo-wrapper .payoff > div {
  font: bold 18px/25px arial; }

/* Mini cart */
/* line 120, ../sass/styles.scss */
.minicart-wrapper .minicart-count {
  font-weight: bold; }

/* Main menu */
/* Main menu. Bottom variant */
/* line 229, ../sass/styles.scss */
.mainmenu-wrapper-bottom {
  border-top: 1px solid #EDEDED;
  background: -webkit-gradient(linear, center top, center bottom, from(#f7f7f7), to(#ededed));
  background: -moz-linear-gradient(top, #f7f7f7, #ededed);
  background: -o-linear-gradient(top, #f7f7f7, #ededed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#EDEDED', GradientType=0); }

/* line 237, ../sass/styles.scss */
.mainmenu-bottom .nav > li > a,
.mainmenu-bottom-totop a {
  border-right: 1px solid #DFE4E7;
  color: #005173;
  font: bold 16px/20px arial;
  height: 20px;
  /*padding: 0 20px 0 10px;*/
  text-decoration: underline;
  text-shadow: 0 1px 1px #FFFFFF; }

/* line 248, ../sass/styles.scss */
.mainmenu-bottom .nav > li > a:hover,
.mainmenu-bottom .nav > li.active > a,
.mainmenu-bottom .nav > li.active > a:hover {
  background: none;
  color: #005173;
  text-decoration: none;
  box-shadow: none; }

/* line 254, ../sass/styles.scss */
.mainmenu-bottom .nav > li:last-child > a {
  border-right: none; }

/* line 257, ../sass/styles.scss */
.mainmenu-bottom-totop a {
  padding: 0 0 0 20px;
  font-size: 14px;
  border-right: none;
  background: url(../images/footer_totop.png) no-repeat left center; }

/* Main content section */
/* line 266, ../sass/styles.scss */
.content-wrapper h1 {
  color: #F7941D;
  font: bold 30px/35px arial; }

/* Footer section */
/* line 272, ../sass/styles.scss */
.footer-wrapper {
  background: url(../images/footer_gradient.png) repeat-x center bottom #484848; }

/* line 275, ../sass/styles.scss */
.footer-section {
  color: #fff; }

/* line 278, ../sass/styles.scss */
.footer-section h1 {
  color: #fff;
  font: bold 16px/24px arial; }

/* line 282, ../sass/styles.scss */
.footer-section a {
  color: #fff; }

/* line 285, ../sass/styles.scss */
.footer-section a:hover {
  text-decoration: none; }

/* line 289, ../sass/styles.scss */
.footer-section .vcard .fn.n {
  display: none; }

/* line 292, ../sass/styles.scss */
.footer-section.payment-icons ul li {
  list-style-type: none; }

/*
 * [end] Global page sections
 */
/*
 * [start] Page specific sections
 */
/* line 308, ../sass/styles.scss */
.frontpage .feature-slider-wrapper .carousel-inner .carousel-caption {
  color: #fff;
  font: normal 12px/18px arial; }

/* line 312, ../sass/styles.scss */
.frontpage .feature-slider-wrapper .carousel-inner .carousel-caption a {
  color: #fff; }

/* line 315, ../sass/styles.scss */
.frontpage .feature-wrapper > .feature {
  background: -webkit-gradient(linear, center top, center bottom, from(#f4f4f4), to(white));
  background: -moz-linear-gradient(top, #f4f4f4, white);
  background: -o-linear-gradient(top, #f4f4f4, white);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ffffff', GradientType=0);
  box-shadow: 1px 1px 3px #ececec;
  -moz-box-shadow: 1px 1px 3px #ececec;
  -webkit-box-shadow: 1px 1px 3px #ececec;
  border: 1px solid #DFE4E7; }

/* line 326, ../sass/styles.scss */
.frontpage .feature-wrapper > .feature > .feature-text {
  font: 14px/21px arial; }

/* line 329, ../sass/styles.scss */
.frontpage .feature-wrapper > .feature > .feature-text h1 {
  font: bold 22px/33px arial; }

/* Product ist item section */
/*
 * [start] Page specific sections
 */
@media (max-width: 349px) {
  /* line 433, ../sass/styles.scss */
  .logo-wrapper .logo .logo-image {
    background-position: center center; }

  /* line 436, ../sass/styles.scss */
  .logo-wrapper .payoff > div {
    padding-top: 10px;
    font: bold 16px/18px arial; }

  /* line 441, ../sass/styles.scss */
  .product-list-item-wrapper .product-addtocart .dw-button > span {
    /*background-image: none;*/ } }
@media (min-width: 768px) and (max-width: 979px) {
  /* line 452, ../sass/styles.scss */
  .productlist .catalog-content .filter-wrapper.filter-reset .dw-button {
    font-size: 12px !important; } }
@media (max-width: 767px) {
  /* line 458, ../sass/styles.scss */
  .productlist .catalog-header {
    font-size: 12px; }

  /* line 461, ../sass/styles.scss */
  .product-list-item-wrapper .product-facts li {
    background-size: 14px 14px;
    background-position: 0 3px; } }
@media (max-width: 979px) {
  /* line 468, ../sass/styles.scss */
  .product-list-item-wrapper {
    font-size: 12px; }

  /* line 471, ../sass/styles.scss */
  .product-list-item-wrapper .product-link {
    font-size: 16px; }

  /* line 474, ../sass/styles.scss */
  .product-list-item-wrapper .dw-button {
    font-size: 12px !important;
    padding: 0 5%; }

  /* line 478, ../sass/styles.scss */
  .product-list-item-wrapper .product-number {
    /*line-height: 12px;
    float: none;*/ }

  /* line 482, ../sass/styles.scss */
  .product-list-item-wrapper .product-readmore {
    background-position: 0 2px; } }
/* (!) important
 * Max-width obtained from bootstrap-responsive.css line: 682
 * In that bootsrap media query perfoming collapse action of navbar
 * If we will need to change this value, we will need to change
 * value in that place and here also. Maybe we can do this somehow else?
 * Any ideas will be appreciated
 */
@media (max-width: 979px) {
  /* Top Menu */
  /* [start] Collepsed and opened [Top menu] section styles overrride */
  /* line 499, ../sass/styles.scss */
  .topmenu-wrapper {
    padding-left: 0;
    padding-right: 20px; }

  /* line 503, ../sass/styles.scss */
  .topmenu {
    float: left; }

  /*.topmenu .navbar-inner {
    background-color: #f5f5f5;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#e6e6e6));
    background-image: linear-gradient(top, #fdfdfd, #e6e6e6);
    background-image: -moz-linear-gradient(top, #fdfdfd, #e6e6e6);
    background-image: -o-linear-gradient(top, #fdfdfd, #e6e6e6);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#e6e6e6', GradientType=0);
    border: 1px solid #dcdcdc;
  }
  .topmenu .nav > li {
    background-color: #009ee0;
    background-color: rgba(0, 158, 224, .5);
    border-radius: 5px;
  }
  .topmenu .nav > li > a {
    border: none;
    text-align: left;
    text-decoration: none;
    color: #fff;
  }
  .topmenu .nav > li,
  .topmenu .btn.btn-navbar
  {
    background-color: #7e7e7e;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a0a0a0), to(#7e7e7e));
    background-image: linear-gradient(top, #a0a0a0, #7e7e7e);
    background-image: -moz-linear-gradient(top, #a0a0a0, #7e7e7e);
    background-image: -o-linear-gradient(top, #a0a0a0, #7e7e7e);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#a0a0a0', endColorstr='#7e7e7e', GradientType=0);
    border: 1px solid #7e7e7e;
  }
  .topmenu .nav > li:hover > a {
    background: #004f71;
    color: #fff;
  }*/
  /* [end] Collapsed and opened [Top menu] section styles overrride */ }
/* COntact us */
/* line 547, ../sass/styles.scss */
.contact-us-form textarea {
  width: 100%;
  -moz-box-sizing: border-box;
  border: 1px solid #9F9F9F;
  box-shadow: 0 1px 0 #E3E3E3 inset;
  height: 150px; }
