<!--@If Defined(Ecom:Order.IsEmpty)-->
<div class="span4 dropdown minicart-wrapper">
	<div class="minicart-content">
		<div class="minicart-icon">
			<div class="cart-big-normal"><i class="icon-shopping-cart"></i></div>
		</div>
		<div class="minicart-count">
			<!--@Translate(CartIsEmpty, "Cart is empty")-->
		</div>
	</div>
</div>

<!--@Else-->
<!-- onmouseout="collapseMiniCart();" onmouseover="expandMiniCart();" -->
<div class="span4 dropdown minicart-wrapper not-empty">
	<div class="minicart-content">
		<div class="minicart-icon">
			<div class="cart-big-normal"><i class="icon-shopping-cart"></i></div>
		</div>
		<div class="minicart-count">
<div id="pagecart" class="paragraph">
  <h2><!--@Translate(shoppingcart, "Shopping Cart")--></h2>
<!--@If Defined(Ecom:Order.IsEmpty)-->
  <span class="paragraphtext">
        <!--@Translate(emptycart, "Your cart is empty")-->
    </span>
<!--@EndIf(Ecom:Order.IsEmpty)-->
<!--@If Not Defined(Ecom:Order.IsEmpty)-->
    <div id="counter">
        <span id="cartcount"><!--@Translate(itemsinbasket, "Items in basket")-->: </span>
        <span id="cartcount_value"><!--@Ecom:Order.OrderLines.TotalQuantity--></span>
    </div>
    <div id="amount">
        <span id="cartamount"><!--@Translate(total, "Total")-->: </span>
        <span id="cartamount_value"><!--@Ecom:Order.PriceWithoutFees--></span>
    </div>
    <div id="cartfunctions">
        <a href="javascript:confirmation('<!--@Global:Pageview.Url-->&amp;cartcmd=emptycart','Do you want to empty your basket?');">- <!--@Translate(emptybasket, "Empty basket")--></a>
        <a href="/default.aspx?ID=52">- <!--@Translate(showbasket, "Show basket")--></a>
    </div>
<!--@EndIf(Ecom:Order.IsEmpty)-->
</div>
		</div>
	</div>

	<div class="minicart-popup dropdown-menu" role="menu" aria-labelledby="dLabel">
		<div class="minicart-header">
			<div class="product-text">
				<!--@Translate(multipleProductsWithCapital, "Products")-->
			</div>
			<div class="quantity-text">
				<!--@Translate(quantityAbbreviatedWithCapital, "Qty")-->
			</div>
			<div class="price-text">
				<!--@Translate(priceWithCapital, "Price")-->
			</div>
		</div>

		<!--@LoopStart(OrderLines)-->
		<div class="product-line">
			<div class="product-text">

				<!--@If Not Defined(Ecom:Order:OrderLine.IsProduct)-->
				<!--@Translate(discount, 'Discount')--> <!--@Ecom:Order:OrderLine.ProductName-->

				<!--@Else-->
				<a href="/Default.aspx?ID=<!--@Item.Area.Products_Catalog_Page_ID-->&amp;ProductID=<!--@Ecom:Product.ID--><!--@If Defined(Ecom:Order:OrderLine.ProductVariantID)-->&amp;VariantID=<!--@Ecom:Order:OrderLine.ProductVariantID--><!--@EndIf-->"><!--@Ecom:Order:OrderLine.ProductName--></a>
				<!--@EndIf-->
				

			</div>
			<div class="quantity-text">
				<!--@Ecom:Order:OrderLine.Quantity-->
			</div>
			<div class="price-text">
				<!--@Ecom:Order:OrderLine.Price.PriceWithVATFormatted-->
			</div>
		</div>
		<div class="product-line-spacer"></div>
		<!--@LoopEnd(OrderLines)-->

		<div class="minicart-fees">
			<div class="product-line">
				<div class="total-price-text">
					<!--@Translate(paymentfee, "Payment fee")-->
				</div>
				<div class="total-price-value">
					<!--@Ecom:Order.PaymentFee.PriceWithVATFormatted-->
				</div>
			</div>
			<div class="product-line">
				<div class="total-price-text">
					<!--@Translate(shippingfee, "Shipping fee")-->
				</div>
				<div class="total-price-value">
					<!--@Ecom:Order.ShippingFee.PriceWithVATFormatted-->
				</div>
			</div>
		</div>
		<div class="product-line-spacer"></div>

		<div class="minicart-footer">
			<div class="total-price-text">
				<!--@Translate(totalPrice, "Total price")--> (<!--@Translate(withVAT, "incl. VAT")-->)
			</div>
			<div class="total-price-value">
				<!--@Ecom:Order.Price.PriceWithVATFormatted-->
			</div>
		</div>

		<div class="minicart-buttons">
			<div class="left-button-container">
				<a href="/Default.aspx?ID=<!--@Item.Area.Show_Cart_Page_ID-->" class="dw-button btn-default dw-button-small">
					<!--@Translate(showcart, "View cart")-->
				</a>
			</div>
			<div class="right-button-container">
				<a href="/Default.aspx?ID=<!--@Item.Area.Checkout_Page_ID-->" class="dw-button btn-default dw-button-small">
					<!--@Translate(checkout, "Checkout")-->
					<div class="icon-double-angle-right arr-forward-small-white"></div>
				</a>
			</div>
		</div>
	</div>
</div>
<!--@EndIf-->
