<section class="topmenu-wrapper">
	<div class="container">
		<div class="row">
			<div class="span12">
				<!--@LoopStart(Languages)-->
				<!--@HeaderStart-->
				<div class="lang-selector hidden-print">
					<ul>
						<!--@HeaderEnd-->
						<!--@If Not Defined(IsCurrent)-->
						<li><a href="/Default.aspx?ID=<!--@FirstPageID-->" hreflang="<!--@Culture.Substring(0, 2)-->" class="flags-<!--@Culture.Substring(3).ToLower()-->"><!--@Name--></a></li>
						<!--@EndIf-->
						<!--@FooterStart-->
					</ul>
				</div>
				<!--@FooterEnd-->
				<!--@LoopEnd(Languages)-->

				<div class="topmenu hidden-print">
					<div class="navbar wrappable">
						<div class="navbar-inner">
							<div class="container">
								<a class="btn btn-navbar" data-toggle="collapse" data-target=".topmenu .nav-collapse">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</a>
								<ul class="nav dwnavigation" id="navTop" data-settings="startlevel:1;endlevel:1;parenttag:topmenu;template:NavTop.xslt"></ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
