<section class="container searchbar-wrapper searchbar-wrapper-top hidden-print">
	<div class="row">
		<div class="span8 instant-search">
			<div class="search-box">
				<form action="/Default.aspx">
					<input type="hidden" value="<!--@Item.Area.Products_Catalog_Page_ID-->" name="ID"/>
					<!--@If Defined(Server:Request.ecomquery)-->
					<input type="text" spellcheck="false" autocomplete="off" name="eComQuery" id="q" value="<!--@Server:Request.ecomquery-->"/>
					<!--@Else-->
					<input type="text" spellcheck="false" autocomplete="off" name="eComQuery" id="q"/>
					<!--@EndIf-->
					<input type="submit" onclick="eCommerce.Overlay.show(document.body);" value="Search" class="dw-button dw-button-green"/>
					<div id="search-box-preloader-top"></div>
				</form>

				<!-- "Instant search results" template -->
				<!--@Include(InstantSearchTop.html)-->
			</div>
		</div>
		<div class="span4">
			<!--@If Defined(Item.Area.Show_Quick_Add)-->
			<div class="quick-add">
				<form>
					<span class="quick-add-box-label">Quick add</span>
					<input type="hidden" value="add" name="cartcmd" disabled="disabled"/>
					<input type="text" tabindex="2" placeholder="Product Number" value="" name="eComQuery" class="input-small" id="quickaddinput"/>
					<input type="text" tabindex="3" placeholder="Quantity" value="1" name="quantity" class="input-small"/>
					<input type="submit" class="dw-button dw-button-small dw-button-green" value="Add"/>
					<div id="search-box-preloader-quickadd"></div>
				</form>

				<!-- "Quick add search results" templates -->
				<!--@Include(InstantSearchQuickadd.html)-->
			</div>
			<!--@EndIf(Item.Area.Show_Quick_Add)-->
		</div>
	</div>
</section>
