<section class="container searchbar-wrapper searchbar-wrapper-bottom hidden-print">
	<div class="row">
		<div class="span8 instant-search">
			<div class="search-box">
				<form action="/Default.aspx">
					<input type="hidden" value="<!--@Item.Area.Products_Catalog_Page_ID-->" name="ID">
					<!--@If Defined(Server:Request.ecomquery)-->
					<input type="text" spellcheck="false" autocomplete="off" name="eComQuery" id="q-bottom" value="<!--@Server:Request.ecomquery-->"/>
					<!--@Else-->
					<input type="text" spellcheck="false" autocomplete="off" name="eComQuery" id="q-bottom"/>
					<!--@EndIf-->
					<input type="submit" onclick="eCommerce.Overlay.show(document.body);" value="Search" class="dw-button btn-primary">
					<div id="search-box-preloader-bottom"></div>
				</form>

				<!-- "Instant search results" template -->
				<!--@Include(InstantSearchBottom.html)-->
			</div>
		</div>
	</div>
</section>
