/* Gray buttons */
.dw-button-green {
  background: #ff8500;
  background-color: #fb9e25;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FFFF8500', endColorstr='#FFFB9E25');";
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FFFF8500', endColorstr='#FFFB9E25');
  zoom: 1;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff8500), color-stop(100%, #fb9e25));
  background: -webkit-linear-gradient(top, #ff8500, #fb9e25);
  background: -moz-linear-gradient(top, #ff8500, #fb9e25);
  background: -o-linear-gradient(top, #ff8500, #fb9e25);
  background: linear-gradient(top, #ff8500, #fb9e25);
  border-color: #ff8500;
  text-shadow: 0 1px 1px #ffffff;
  color: #545649;
  border: 1px solid #dfe4e7;
}

.dw-button-green:active, .dw-button-green:hover {
  background: #ff8500;
  color: #545649;
  border: 1px solid #DFE4E7;
}

/* Product and header colors */
.content-wrapper h1 {
  color: #666666;
}

.product-list-item-wrapper .product-link {
  color: #666666;
}

.productlist .catalog-content .filter-wrapper.filter-reset .colored-section {
  background: #666666;
  color: white;
}

.productlist .catalog-content .filter-wrapper.filter-reset .colored-section:after {
  border-color: #666666 transparent transparent transparent;
}
