<!--@MasterPageFile(MasterPages/Minimal.html)-->
<!--@Layout.Title(Checkout)-->
<!--@Layout.Description(Page layout for checkout proccess)-->

<!--@SnippetStart(StyleSheet)-->
<link href="/Files/Templates/Designs/eCommerce/assets/stylesheets/checkout.css" rel="stylesheet"/>
<!--@SnippetEnd(StyleSheet)-->

<script type="text/javascript">
	require(["jquery", "layout"], function ($) {

		//Redirects for last step in checkout to change template
		var query = $.getUrlParams()
		, receiptAction = $('#content-main').data().receiptAction;

		if (receiptAction && query["CompletedOrderId"] && query["CompletedOrderSecret"]) {
			location.href =
				receiptAction
				+ "&CompletedOrderId="
				+ query["CompletedOrderId"]
				+ "&CompletedOrderSecret="
				+ query["CompletedOrderSecret"];
		}
	});
</script>

<section class="container content-wrapper checkout-wrapper">
	<div class="row dwcontent" id="content-main" title="Main content" data-receipt-action="/Default.aspx?ID=<!--@If(Global:Area.ID==1)-->599<!--@EndIf--><!--@If(Global:Area.ID==17)-->600<!--@EndIf--><!--@If(Global:Area.ID==18)-->595<!--@EndIf--><!--@If(Global:Area.ID==19)-->596<!--@EndIf--><!--@If(Global:Area.ID==22)-->628<!--@EndIf-->">
	</div>
</section>
