<!--@MasterPageFile(MasterPages/Main.html)-->
<!--@Layout.Title(Frontpage)-->
<!--@Layout.Description()-->
<section class="container content-wrapper frontpage">
  <div class="row">

    <div class="span8 feature-slider-wrapper">
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner dwcontent" id="carousel" title="Carousel" data-settings="template:Carousel.html"></div>
        <a class="carousel-control left sprite slider-arrow-l-circle" href="#myCarousel" data-slide="prev"></a>
        <a class="carousel-control right sprite slider-arrow-r-circle" href="#myCarousel" data-slide="next"></a>
      </div>
    </div>

    <div class="dwcontent" id="content-main" title="Main content"></div>

  </div>
</section><!-- / .container.content-wrapper -->
