<!--@LoopStart(OrderLines)-->
	<div class="product-line">
		<!--@If Not Defined(Ecom:Order:OrderLine.IsProduct)-->
		<div class="product-name">
			<!--@Translate(discount, 'Discount')--> <!--@Ecom:Order:OrderLine.ProductName-->
			<i class="discount-price"><!--@Ecom:Order:OrderLine.Price.PriceWithoutVATFormatted--></i>
		</div>
		<!--@Else-->
		<div class="product-name" >
			<div class="row" >
				<div class="span8">
					<a href="/Default.aspx?ID=<!--@Item.Area.Products_Modal_Page_ID-->&amp;ProductID=<!--@Ecom:Order:OrderLine.ProductID-->" data-toggle="modal" data-target="#productPreview"><!--@Ecom:Order:OrderLine.ProductName--></a><br/>
					<i><!--@Translate(Product_number, "Product no.")-->: <!--@Ecom:Product.Number--></i>
				</div>
				<div style="float:right;">
				<div class="span1 Quantity align-right">
				<!--@Translate(Product_Quantity, "Quantity:")--><br/>
					<!--@Ecom:Order:OrderLine.Quantity--> <!--@Translate(pcs, "pcs")-->
				</div>
				
				<div class="span1 Price align-right">
				<!--@Translate(Product_Price, "Price:")--><br/>
					<!--@Ecom:Product.Price-->
				</div>
					
				<div class="span1 TotalPrice align-right">
				<!--@Translate(Product_Total_Price, "Total Price:")--><br/>
					<!--@Ecom:Order:olPrice-->
				</div>
				</div>
			</div>
		</div>
		<!--@EndIf-->
	</div>
	<div class="clearfix"></div>
<hr/>
<!--@LoopEnd(OrderLines)-->

<div class="price-line">
	<div class="price-label">
		<!--@Translate(paymentfee, "Payment fee")-->
	</div>
	<div class="price-value" style="float:right;">
		<!--@Ecom:Order.ShippingFee.Currency.Symbol--> <span class="cart_pay_price"><!--@Ecom:Order.PaymentFee.Price--></span> <!--Ecom:Order.PaymentFee.PriceWithoutVATFormatted-->
	</div>

	<div class="price-label">
		<!--@Translate(shippingfee, "Shipping fee")-->
	</div>
	<div class="price-value" style="float:right;">
		<!--@Ecom:Order.ShippingFee.Currency.Symbol--> <span class="cart_ship_price"><!--@Ecom:Order.ShippingFee.PriceWithVAT--></span> <!--Ecom:Order.ShippingFee.PriceWithoutVATFormatted-->
	</div>

	<div class="price-label">
		<!--@Translate(totalPrice, "Total price")--> (<!--@Translate(noVAT, "excl. VAT")-->)
	</div>
	<div class="price-value price_withoutvat" data-goods_price="<!--@Ecom:Order.PriceWithoutFees.PriceWithoutVAT-->" style="float:right;">
		<!--@Ecom:Order.ShippingFee.Currency.Symbol--> <span><!--@Ecom:Order.Price.PriceWithoutVAT--></span>
	</div>

	<div class="price-label">
		<!--@Translate(vat, "VAT")-->
	</div>
	<div class="price-value goods_vat" data-goodsvat="<!--@Ecom:Order.Price.VAT-->" style="float:right;">
		<!--@Ecom:Order.Price.VAT-->
	</div>
</div>
<div class="clearfix"></div>
<hr/>

<div class="row">
	<div class="span10 action-line">
		<a href="/Default.aspx?ID=<!--@Item.Area.Show_Cart_Page_ID-->" class="btn btn-default"><!--@Translate(showcart, "edit order")--></a>
	</div>
	
	<div class="span1 price-line" style="float:right;">
		<div class="price-label align-right">
			<strong><!--@Translate(totalPrice, "Total price")--> (<!--@Translate(withVAT, "incl. VAT")-->)</strong>
		</div>
		<div class="price-value" style="text-align:right; width:auto;">
			<strong><u><!--@Ecom:Order.ShippingFee.Currency.Symbol--> <span class="cart_total"><!--@Ecom:Order.OrderLines.TotalPriceWithoutSymbol--></u></span></strong>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

<div class="modal hide fade modal-type-variants" id="productPreview" tabindex="-1" role="dialog">
	<div class="modal-header">
		<button type="button" class="close blue-close icon-remove" data-dismiss="modal"></button>
		<h3><!--@Translate(productpreview, "Product preview")--></h3>
	</div><!-- / .modal-header -->
	<div class="modal-body">
		<div class="row-fluid no-space">
			<div class="loader"></div>
		</div>
	</div><!-- / .modal-body -->
</div><!-- / .modal -->
