	<meta itemprop="currency" content="<!--@Ecom:Product.Currency.Code-->" />

	<!--@If(Ecom:Product.Discount.Price.PricePIP<Ecom:Product.Price.PricePIP)-->
	<div class="product-price has-discount">
		<!--@If Defined(Item.Area.Show_Price_With_VAT)-->
		<span itemprop="price" class="product-price regular"><!--@Ecom:Product.Price.PriceWithVATFormatted--> </span>
		<span itemprop="price" class="product-price discount"> <!--@Ecom:Product.Discount.Price.PriceWithVATFormatted--></span>/ <!--@Translate(unit, "unit")-->
		<!--@Else-->
		<span itemprop="price" class="product-price regular"><!--@Ecom:Product.Price.PriceWithoutVATFormatted--></span>
		<span itemprop="price" class="product-price discount"><!--@Ecom:Product.Discount.Price.PriceWithoutVATFormatted--></span>/ <!--@Translate(unit, "unit")-->
		<!--@EndIf-->
	</div>
	<!--@Else-->
	<div class="product-price">
		<!--@If Defined(Item.Area.Show_Price_With_VAT)-->
		<span itemprop="price" class="product-price regular"><!--@Ecom:Product.Price.PriceWithVATFormatted--></span>/ <!--@Translate(unit, "unit")-->
		<!--@Else-->
		<span itemprop="price" class="product-price regular"><!--@Ecom:Product.Price.PriceWithoutVATFormatted--></span>/ <!--@Translate(unit, "unit")-->
		<!--@EndIf-->
	</div>
	<!--@EndIf-->
								
</div>
	
<!--@If Defined(Item.Area.Show_Price_With_VAT)-->
	<div class="product-feetooltip">
		<!--@Translate(exPaymentShippingFees, 'Ex. shipping and payment fees')-->
	</div>
<!--@Else-->
	<div class="product-feetooltip">
		<!--@Translate(exVATpaymentShippingFees, 'Ex. VAT, shipping and payment fees')-->
	</div>
<!--@EndIf(Item.Area.Show_Price_With_VAT)-->