$color-document: #F3F2F2;
$color-text: #454545;
$colorLink: #006699;
$border-color: #DFE4E7;
$border-radius-box: 5px;
$spriteImgSrc: "../images/sprites.png";
$rating-sprite: url(../images/sprites-rating.png);
$rating-sprite-tile-width: 18px;
$rating-sprite-tile-height: 18px;
$loader-image: url(../images/ajax-loader.gif);


@mixin rounded-borders($color: black, $border-weight: 1px, $radius: 5px) {
  border: $border-weight solid $color;
  border-radius: $radius;
  overflow: hidden;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

@mixin bg-gradient($from: #eee, $to: #ddd) {
  background: $to;
  background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background: -moz-linear-gradient(top,  $from,  $to);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#{ie-hex-str($from)}', endColorstr='#{ie-hex-str($to)}');
  // -pie-background: linear-gradient(#EEFF99, #66EE33);
  // behavior: url(../vendor/PIE.htc);
}

@mixin bg-remove {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

@mixin text-cut {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin fluid-span12 {
  width: 100%;
  // *width: 99.94680851063829%;
  margin: 0;
}

@mixin fluid-span6 {
  width: 48.717948717948715%;
  // *width: 48.664757228587014%;
  margin: {
    left: 0.64102564%;
    right: 0.64102564%;
  }
}

@mixin fluid-span4 {
  width: 31.623931623931625%;
  // *width: 31.570740134569924%;
  margin: {
    left: 0.854700855%;
    right: 0.854700855%;
  }
}

@mixin fluid-span3 {
  width: 23.076923076923077%;
  // *width: 23.023731587561375%;
  margin: {
    left: 0.961538461%;
    right: 0.961538461%;
  }
}
