$button-gradient-color-top: #F9F9F9;
$button-gradient-color-bottom: #E7E9EB;

$button-background-color: $button-gradient-color-top;
$button-text-color: #545649;

$star-color-empty: #f00;
$star-color: #f0f;

@import 'screen';