@import 'screen';

// Primary colors
// Used to change this color to change e.g. h1 colors, and product header color in productlist
$primary-color: #0085CA;
$primary-color-inverted: #FFF;

// Menu colors top and bottom.
$menu-gradient-color-top: #01b7a0; $menu-gradient-color-bottom: #00fede;

// Button colors top and bottom.
$button-gradient-color-top: #e68f01; $button-gradient-color-bottom: #ff9e01;

.mainmenu-wrapper {
	@include bg-gradient($menu-gradient-color-top, $menu-gradient-color-bottom );
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
	}
	
	.mainmenu .nav > li > a {
		color: $primary-color-inverted;
		text-shadow: 1px 1px 2px $primary-color;
	}
			
	.mainmenu .nav > li {	
		&:hover, &.active {
			background:$primary-color !important;
		}
	}
	
.btn-primary {
	@include bg-gradient($button-gradient-color-bottom, $button-gradient-color-top);
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
	text-shadow: 0 -1px 2px $primary-color-inverted;
	color: $primary-color;

	&:active, &:hover {
		background: $button-gradient-color-top;
		color: $primary-color-inverted;
	}
}

.btn-default {
	@include bg-gradient(#00b8a0, #00ffde);
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
	color: $primary-color;

	&:active, &:hover {
		background: #00b8a0;
		color: $primary-color;
	}
}

/* Product and header colors */ 
.content-wrapper h1 {
	color: $primary-color;
}
	
.product-list-item-wrapper .product-link {
	color: $primary-color;
}

.productlist .catalog-content .filter-wrapper.filter-reset .colored-section {
	background: $primary-color;
	color: $primary-color-inverted;
}

.productlist .catalog-content .filter-wrapper.filter-reset .colored-section:after {
	border-color: $primary-color transparent transparent transparent;
}