@import "base";


// .navbar-inner {
//   border: none;
// }

/*
 * [start] Global UI elements
 */
.dw-button {
  @include rounded-borders(#FF0000);
  // border-radius: 5px;
  box-shadow: 1px 1px 2px #c3c3c3;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font: bold 14px/31px arial !important;
  height: 33px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  text-decoration: none;
  white-space: inherit !important;

  &.dw-button-small {
    height: 26px;
    line-height: 26px !important;
    padding: 0 12px !important;
    width: auto;
  }
}
a.dw-button {
  text-decoration: none;
  color: white;
}

.dw-button-green {
  @include bg-gradient(#00DD11, #009209);
  border-color: #56a201;
  // background: -webkit-gradient(linear, center top, center bottom, from(#00dd11), to(#009209));
  // background: -moz-linear-gradient(top, #00dd11, #009209);
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00dd11', endColorstr='#009209', GradientType=0);
  text-shadow: 0 -1px 2px #299630;
  color: white;

  &:active, &:hover {
    background: #14ac1f;
    color: white;
  }
}

.dw-button-gray {
  @include bg-gradient(#F9F9F9, #E7E9EB);
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
  // background: -webkit-gradient(linear, center top, center bottom, from(#f9f9f9), to(#e7e9eb));
  // background: -moz-linear-gradient(top, #f9f9f9, #e7e9eb);
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e7e9eb', GradientType=0);
  text-shadow: 0 1px 1px #ffffff;
  color: #545649 !important;

  &:active, &:hover {
    background: #e7e9eb;
  }
}

.dw-button-orange {
  @include bg-gradient(#FB9E25, #FF8500);
  border-color: #FF8500;
  // background: -webkit-gradient(linear, center top, center bottom, from(#fb9e25), to(#FF8500));
  // background: -moz-linear-gradient(top, #fb9e25, #FF8500);
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#FF8500', GradientType=0);
  text-shadow: 1px 1px 0 #cc9f52;
  box-shadow: 1px 1px 2px #fcbf70 !important;
  color: #fff !important;

  &:active, &:hover {
    background: #FF8500;
  }
}


/* Top Menu */
.topmenu .navbar-inner {
  @include bg-remove;
  // background: transparent;
  // filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.topmenu .nav > li {
  list-style-type: none;
  /*border-right: 1px solid #999;*/
}
.topmenu .nav > li:last-child {
  border: none;
  padding-right: 0;
}
.topmenu .nav > li > a {
  line-height: 14px;
  text-decoration: underline;
  font-size: 12px;
  text-shadow: none;
  color: #069;
  border-right: 1px solid #999;
}
.topmenu .nav > li > span {
  line-height: 14px;
  text-decoration: none;
  font-size: 12px;
}
.topmenu .nav > li:last-child > a { border-right: none; }
.topmenu .nav > li:hover > a { color: #069; }

/* Header */
.logo-wrapper .payoff > div {
  font: bold 18px/25px arial;
}

/* Mini cart */
.minicart-wrapper {}
.minicart-wrapper .minicart-count {
  font-weight: bold;
}
.minicart-wrapper .minicart-view {}

/* Main menu */
// .mainmenu-wrapper {
//   border: 1px solid #004f71;
//   border-left: 0;
//   border-right: 0;
//   background-color: #004f71;
//   background: -webkit-gradient(linear, center top, center bottom, from(#009bdc), to(#004f71));
//   background: -moz-linear-gradient(top, #009bdc, #004f71);
//   background: -o-linear-gradient(top, #009bdc, #004f71);
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009bdc', endColorstr='#004f71', GradientType=0);
// }
// .mainmenu .navbar-inner {
//   background: transparent;
//   filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
// }
// .mainmenu .btn.btn-navbar {
//   border: 1px solid #003d57;
//   background-color: #004f71;
//   background: -webkit-gradient(linear, center top, center bottom, from(#004f71), to(#003d57));
//   background: -moz-linear-gradient(top, #004f71, #003d57);
//   background: -o-linear-gradient(top, #004f71, #003d57);
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004f71', endColorstr='#003d57', GradientType=0);
// }
// .mainmenu .nav {}
// .mainmenu .nav > li:hover,
// .mainmenu .nav > li.active {
//   background: -webkit-gradient(linear, center top, center bottom, from(#009ee0), to(#00aff9));
//   background-image: -moz-linear-gradient(top, #009ee0, #00aff9);
//   background: -o-linear-gradient(top, #009ee0, #00aff9);
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009ee0', endColorstr='#00aff9', GradientType=0);
//   border-left-color: transparent;
//   -webkit-transition:background-color 0.1s ease-in;
//   -moz-transition:background-color 0.1s ease-in;
//   -o-transition:background-color 0.1s ease-in;
//   transition:background-color 0.1s ease-in;
// }
// .mainmenu .nav > li.open > a {
//   background: transparent !important;
//   color: white !important;
// }
// .mainmenu .nav > li > a {
//   border-radius: 0;
//   border-left: 1px solid rgba(216, 216, 216, 0.4);
//   border-right: 1px solid #55564A;
//   color: #FFFFFF;
//   font-size: 16px;
//   font-weight: bold;
//   line-height: 35px;
//   outline: 0 none;
//   text-align: center;
//   text-shadow: 1px 1px 2px #0A6E93;
// }
// .mainmenu .nav > li:first-child > a {}
// .mainmenu .nav > li.wrapped {
//   border-top: 1px solid #55564A;
//   border-right: 1px solid #55564A;
// }
// .mainmenu .nav > li.wrapped > a {
//   border-top: 1px solid rgba(216, 216, 216, 0.4);
//   border-right: 1px solid rgba(216, 216, 216, 0.4);
//   border-left: none;
// }
// .mainmenu .nav > li.wrapped:last-child,
// .mainmenu .nav > li.wrapped:last-child > a {
//   border-right: none;
// }
// .mainmenu .nav > li > .dropdown-menu {
//   background: #FFFFFF;
//   border: 1px solid #4B4F5B;
//   border-top: none;
//   border-radius: 0 0 5px 5px;
//   box-shadow: 1px 0px 5px -1px #666;
// }

// .mainmenu .nav > li > .dropdown-menu::before,
// .mainmenu .nav > li > .dropdown-menu::after {
//   /* Remove small caret on top of dropdown menu */
//   border: none;
//   content: none;
// }
// .mainmenu .nav > li > .dropdown-menu li {
//   background: url("../images/i_arr_forward_small.png") no-repeat left center;
// }
// .mainmenu .nav > li > .dropdown-menu li a {}
// .mainmenu .nav > li > .dropdown-menu li a:hover,
// .mainmenu .nav > li > .dropdown-menu li a:focus,
// .mainmenu .nav > li > a:hover,
// .mainmenu .nav > li.active > a,
// .mainmenu .nav > li.active > a:hover {
//   background: none !important;
//   text-decoration: none  !important;
// }
// .mainmenu .nav > li.active > a,
// .mainmenu .nav > li.active > a:hover,
// .mainmenu .nav > li > a:hover,
// .mainmenu .nav > li > a:focus {
//   color: white !important;
// }
// .mainmenu .nav > li > .dropdown-menu > li > a {
//   color: #006699;
//   text-decoration: underline;
// }

/* Main menu. Bottom variant */
.mainmenu-wrapper-bottom {
  border-top: 1px solid #EDEDED;
  background: -webkit-gradient(linear, center top, center bottom, from(#f7f7f7), to(#EDEDED));
  background: -moz-linear-gradient(top, #f7f7f7, #EDEDED);
  background: -o-linear-gradient(top, #f7f7f7, #EDEDED);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#EDEDED', GradientType=0);
}
.mainmenu-bottom .nav > li > a,
.mainmenu-bottom-totop a {
  border-right: 1px solid #DFE4E7;
  color: #005173;
  font: bold 16px/20px arial;
  height: 20px;
  /*padding: 0 20px 0 10px;*/
  text-decoration: underline;
  text-shadow: 0 1px 1px #FFFFFF;
}
.mainmenu-bottom .nav > li > a:hover,
.mainmenu-bottom .nav > li.active > a,
.mainmenu-bottom .nav > li.active > a:hover {
  background: none;
  color: #005173;
  text-decoration: none;
  box-shadow: none;
}
.mainmenu-bottom .nav > li:last-child > a {
  border-right: none;
}
.mainmenu-bottom-totop a {
  padding: 0 0 0 20px;
  font-size: 14px;
  border-right: none;
  background: url(../images/footer_totop.png) no-repeat left center;
}

/* Main content section */
.content-wrapper {}
.content-wrapper h1 {
  color: #F7941D;
  font: bold 30px/35px arial;
}

/* Footer section */
.footer-wrapper {
  background: url(../images/footer_gradient.png) repeat-x center bottom #484848;
}
.footer-section {
  color: #fff;
}
.footer-section h1 {
  color: #fff;
  font: bold 16px/24px arial;
}
.footer-section a {
  color: #fff;
}
.footer-section a:hover {
  text-decoration: none;
}
.footer-section .vcard {}
.footer-section .vcard .fn.n { display: none; }
.footer-section.payment-icons {}
.footer-section.payment-icons ul {}
.footer-section.payment-icons ul li { list-style-type: none; }
.footer-section.payment-icons ul li img {}

/*
 * [end] Global page sections
 */


/*
 * [start] Page specific sections
 */

.frontpage {}
.frontpage .feature-slider-wrapper,
.frontpage .feature-wrapper {}
.frontpage .feature-slider-wrapper > .feature-slider {}
.frontpage .feature-slider-wrapper .carousel-inner .carousel-caption {
  color: #fff;
  font: normal 12px/18px arial;
}
.frontpage .feature-slider-wrapper .carousel-inner .carousel-caption a {
  color: #fff;
}
.frontpage .feature-wrapper > .feature {
  background: -webkit-gradient(linear, center top, center bottom, from(#f4f4f4), to(#ffffff));
  background: -moz-linear-gradient(top, #f4f4f4, #ffffff);
  background: -o-linear-gradient(top, #f4f4f4, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ffffff', GradientType=0);
  box-shadow: 1px 1px 3px #ececec;
  -moz-box-shadow: 1px 1px 3px #ececec;
  -webkit-box-shadow: 1px 1px 3px #ececec;
  border: 1px solid #DFE4E7;
}
.frontpage .feature-wrapper > .feature > .feature-image {}
.frontpage .feature-wrapper > .feature > .feature-text {
  font: 14px/21px arial;
}
.frontpage .feature-wrapper > .feature > .feature-text h1 {
  font: bold 22px/33px arial;
  // color: #333;
}

// .productlist {}
// .productlist .catalog-header {
//   border-radius: 5px 5px 0 0;
//   border: 1px solid #DFE4E7;
//   border-bottom: none;
//   font: normal 14px/16px arial;
//   background: -webkit-gradient(linear, center top, center bottom, from(#f8f8f8), to(#ededed));
//   background: -moz-linear-gradient(top, #f8f8f8, #ededed);
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#ededed', GradientType=0);
// }
// .productlist .catalog-content {
//   border-radius: 0 0 5px 5px;
//   border: 1px solid #DFE4E7;
// }
// .productlist .catalog-content .filter-wrapper {}
// .productlist .catalog-content .filter-wrapper:last-child {}
// .productlist .catalog-content .filter-wrapper h3 {
//   font: bold 14px/16px arial;
//   padding: 15px 0 10px;
// }
// .productlist .catalog-content .filter-wrapper.filter-price h3,
// .productlist .catalog-content .filter-wrapper.filter-rating h3 {
//   padding-bottom: 15px;
// }
// .productlist .catalog-content .filter-wrapper .filter-content {}
// .productlist .catalog-content .filter-wrapper .filter-content ul {}
// .productlist .catalog-content .filter-wrapper .filter-slider-container-wrapper { margin: 0 5px; }
// .productlist .catalog-content .filter-wrapper .filter-slider-from,
// .productlist .catalog-content .filter-wrapper .filter-slider-to {
//   float: left;
//   padding-top: 5px;
// }
// .productlist .catalog-content .filter-wrapper .filter-slider-to {
//   float: right;
//   text-align: right;
// }
// .productlist .catalog-content .filter-wrapper .filter-slider-to-value,
// .productlist .catalog-content .filter-wrapper .filter-slider-from-value {
//   font: normal 14px/21px arial;
// }
// .productlist .catalog-content .filter-wrapper.filter-reset .colored-section {
//     background: #F8941D;
//     color: white;
//     font: 18px/40px arial;
//     text-align: center;
// }
// .productlist .catalog-content .filter-wrapper.filter-reset .colored-section:after {
//     background: url("../images/filters_selection_tr.png") no-repeat center top;
// }
/* Product ist item section */
// .product-list-item-wrapper {
//   color: #4B4F5B;
//   font: normal 14px/21px arial;
// }
// .product-list-item-wrapper .product-image {}
// .product-list-item-wrapper .product-image a {}
// .product-list-item-wrapper .product-image a img {}
// .product-list-item-wrapper .product-link {
//   color: #005173;
//   font: bold 18px/24px arial;
//   text-decoration: underline;
// }
// .product-list-item-wrapper .product-description {}
// .product-list-item-wrapper .product-price {
//   font: bold 20px/24px arial;
// }
// .product-list-item-wrapper .product-rating-comments {}
// .product-list-item-wrapper .product-rating-comments .product-rating {}
// .product-list-item-wrapper .product-rating-comments .product-comments {}
// .product-list-item-wrapper .product-facts {}
// .product-list-item-wrapper .product-facts li {
//   /*background: url("../images/i_signv.png") no-repeat 0 1px;*/
//   line-height: 22px;
//   list-style-type: none;
// }
// .product-list-item-wrapper .product-addtocart {}
// .product-list-item-wrapper .product-addtocart .dw-button > span {
//   background-image: url("../images/i_cart.png");
//   background-position: 0 2px;
//   background-repeat: no-repeat;
// }
//
// .product-list-item-wrapper .product-readmore {
//   background: url("../images/i_arr_forward_small.png") no-repeat 0 4px;
//   text-shadow: 1px -1px 1px #FFFFFF;
//   text-decoration: underline;
// }
// /*.product-list-item-wrapper .product-number {
//   font-style: italic;
// }*/

/*
 * [start] Page specific sections
 */




@media (max-width: 349px) {
  .logo-wrapper .logo .logo-image {
    background-position: center center;
  }
  .logo-wrapper .payoff > div {
    padding-top: 10px;
    font: bold 16px/18px arial;
  }
  .product-list-item-wrapper .product-addtocart {}
  .product-list-item-wrapper .product-addtocart .dw-button > span {
    /*background-image: none;*/
  }
}

@media (min-width: 350px) and (max-width: 479px) {
}

@media (min-width: 350px) and (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 979px) {
  .productlist .catalog-content .filter-wrapper.filter-reset .dw-button {
    font-size: 12px !important;
  }
}

@media (max-width: 767px) {
  .productlist .catalog-header {
    font-size: 12px;
  }
  .product-list-item-wrapper .product-facts li {
    background-size: 14px 14px;
    background-position: 0 3px;
  }
}

@media (max-width: 979px) {
  .product-list-item-wrapper {
    font-size: 12px;
  }
  .product-list-item-wrapper .product-link {
    font-size: 16px;
  }
  .product-list-item-wrapper .dw-button {
    font-size: 12px !important;
    padding: 0 5%;
  }
  .product-list-item-wrapper .product-number {
    /*line-height: 12px;
    float: none;*/
  }
  .product-list-item-wrapper .product-readmore {
    background-position: 0 2px;
  }
}



/* (!) important
 * Max-width obtained from bootstrap-responsive.css line: 682
 * In that bootsrap media query perfoming collapse action of navbar
 * If we will need to change this value, we will need to change
 * value in that place and here also. Maybe we can do this somehow else?
 * Any ideas will be appreciated
 */
@media (max-width: 979px) {
  /* Top Menu */
  /* [start] Collepsed and opened [Top menu] section styles overrride */
  .topmenu-wrapper {
    padding-left: 0;
    padding-right: 20px;
  }
  .topmenu {
    float: left;
  }
  /*.topmenu .navbar-inner {
    background-color: #f5f5f5;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#e6e6e6));
    background-image: linear-gradient(top, #fdfdfd, #e6e6e6);
    background-image: -moz-linear-gradient(top, #fdfdfd, #e6e6e6);
    background-image: -o-linear-gradient(top, #fdfdfd, #e6e6e6);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#e6e6e6', GradientType=0);
    border: 1px solid #dcdcdc;
  }
  .topmenu .nav > li {
    background-color: #009ee0;
    background-color: rgba(0, 158, 224, .5);
    border-radius: 5px;
  }
  .topmenu .nav > li > a {
    border: none;
    text-align: left;
    text-decoration: none;
    color: #fff;
  }
  .topmenu .nav > li,
  .topmenu .btn.btn-navbar
  {
    background-color: #7e7e7e;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a0a0a0), to(#7e7e7e));
    background-image: linear-gradient(top, #a0a0a0, #7e7e7e);
    background-image: -moz-linear-gradient(top, #a0a0a0, #7e7e7e);
    background-image: -o-linear-gradient(top, #a0a0a0, #7e7e7e);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#a0a0a0', endColorstr='#7e7e7e', GradientType=0);
    border: 1px solid #7e7e7e;
  }
  .topmenu .nav > li:hover > a {
    background: #004f71;
    color: #fff;
  }*/
  /* [end] Collapsed and opened [Top menu] section styles overrride */

}

/* COntact us */

.contact-us-form textarea {
    width:100%;
	-moz-box-sizing: border-box;
	border: 1px solid #9F9F9F;
    box-shadow: 0 1px 0 #E3E3E3 inset;
	height:150px;
}
