<div class="product-rating">
	<span itemscope="" itemtype="http://data-vocabulary.org/Review-aggregate">
		<span itemprop="itemreviewed" class="hidden"><!--@Ecom:Product.Name--></span>
		<span itemprop="rating" itemscope="" itemtype="http://data-vocabulary.org/Rating">
			<span itemprop="average"><!--@Ecom:Product.Rating--></span> out of <span itemprop="best">5</span>
		</span>
	</span>
	<div class="stars-container">
		<i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i>
	</div>
	<div class="product-comments">
		<div class="icon-comment-alt icon-flip-horizontal"></div>
		(<a href="<!--@Ecom:Product.LinkGroup.Clean-->&TabReviews=true"><span itemprop="count"><!--@Ecom:Product.CommentCount--></span></a>)
	</div>
</div>
